<p>js-interview works!</p>

 <p>Remove Duplicates From Array </p>

<!-- this.duplicateArray.forEach(element => {
  debugger
  if (this.result.indexOf(element) < 0) {
    this.result.push(element);
  }
});
console.log(this.result); -->

<!-- let getDuplicate=()=>{
  return[...new Set(this.duplicateArray)];
}
console.log(getDuplicate());
} -->

<!-- let arr = ['a', 'b', 'a', 'c', 'd', 'e', 'e', 'b'];
    let getu2 = () => {
      return arr.filter(function (item, position) {
        return arr.indexOf(item) == position;
      })
    }
    console.log(getu2()); -->


<p>fibonacci Series</p>
<!-- let n1= 0, n2= 1,next;
let fibonacci = () => {
  for (let i = 0; i <= 10; i++) {
    console.log(this.next);
    n1=n2;
    n2=this.next;
    this.next=n1+n2;
  }
}
fibonacci();
} -->


<p>Reverse String</p>
<!-- var str='Sujata';
let strSplit=str.split('');
let strRev=strSplit.reverse();
let strJoin=strRev.join('');
let revFunc=()=>{
  for (let index = 0; index < str.length; index++) {
    var element = strRev[index];
  }
  console.log('reverser string is'+strJoin);
}
revFunc(); -->
<!--
var str = 'Sujata';
    var newStr = '';
    let revFunc = () => {
      for (let index = str.length - 1; index >= 0; index--) {
        newStr += str[index];
      }
      console.log('reverser string is' + newStr);
    }
    revFunc();
 -->

