<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Sr No</th>
              <th *ngFor="let head of headArray">{{head.head}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of gridArray;let i=index;">
              <td>{{i+1}}</td>
              <td *ngFor="let head of headArray">
               <div *ngIf="head.fieldName!=''">
                {{item[head.fieldName]}}
               </div>
               <div *ngIf="head.fieldName==''">
                <button class="btn btn-primary me-2" (click)="edit(item)">Edit</button>
                <button class="btn btn-danger" (click)="delete(item)">delete</button>
               </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

