<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="asyncPipe">asyncPipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="reactiveCrud">Reactive Crud</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="inlineEditing">Inline Editing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ReTable">ReTable</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Editing-2">Edit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="MovieTicket">MovieTicket</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="sBehavioral">sBehavioral</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="viewChild">viewChild</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="interviewQuestions">interviewQuestions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="newUser">newUser</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="userList">userList</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="templateCrud">templateCrud</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Crud">Crud</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="TemplateCrud">TemplateCrud</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Crud2">Crud2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="RCrud2">RCrud2</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
